<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rp.area.mapper.AreaMapper">

	<resultMap type="com.rp.area.entity.Province" id=" ProvinceResultMap">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
	</resultMap>
	
<!-- 	<resultMap type="com.rp.area.entity.City" id=" CityResultMap">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="province_id" jdbcType="INTEGER" property="provinceId"/>
	</resultMap>
	
	<resultMap type="com.rp.area.entity.District" id=" DistrictResultMap">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="city_id" jdbcType="INTEGER" property="cityId"/>
	</resultMap> -->
	
	<select id="selectProvince" resultType="com.rp.area.entity.Province">
		select id,name from province
	</select>
	
 	<select id="selectCityByProvinceId" resultType="com.rp.area.entity.City">
		select * from city where province_id = #{provinceId}
	</select>
	
	<select id="selectDistrictByCityId" resultType="com.rp.area.entity.District">
		select * from district where city_id = #{cityId}
	</select>
	
</mapper>
